@model Linq_Practice.Models.person;

@{
    ViewData["Title"] = "IndexII";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexII</h2>

<h1>@Model.name</h1>
<h1>@Model.age</h1>
<h1>@Model.LovesToTravel</h1>

